div{
    width: 100%;
    height: 300;
}

h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h2{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

ul{
    text-align: center;
}

.samuel_if{
    text-align: center;
}

img{
    width: 300px;
}

p{
    text-align: center;
    color: brown;
}

.more-info{
    text-align: center;
}
li{
    width: 200px;
}